.featured-projects {
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .MuiGrid-item {
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;

        &:hover>.project-card:before {
            transform: scale(1);
        }

        &:hover>.project-card:after {
            transform: scale(1);
        }

        &:hover>.project-card>.project-img {
            opacity: .4;
        }

        &:hover>.project-card>.project-body {
            opacity: 1;
        }

        .project-card {
            height: 235px;
            width: 100%;
            position: relative;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 100px;
                height: 50px;
                border-top: solid 2px #000;
                border-left: solid 2px #000;
                transform: scale(0);
                transition: transform 250ms ease-in-out;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 20px;
                right: 20px;
                width: 100px;
                height: 50px;
                border-bottom: solid 2px #000;
                border-right: solid 2px #000;
                transform: scale(0);
                transition: transform 250ms ease-in-out;
            }

            .project-img {
                width: 100%;
                height: 100%;
                transition: all 250ms ease-in-out;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .project-body {
                width: 80%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                opacity: 0;
            }
        }
    }

    a {
        margin-top: 15px;
        background-color: var(--white);
        color: var(--black);
        border: 1px solid;
        padding: 15px 23px;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s ease-out;

        &:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }
}